.all {
    display:flex;
    justify-content: center;
    align-items: center;

}

:root {
    --gradient: linear-gradient(
        45deg,
        #ff6f91,
        #ff9671,
        #ffc75f

    );
}

.queueCard {
    background-image: var(--gradient);
    animation: qc-animation 3s infinite alternate;
    background-size: 200%;
    border: 2px solid;
    border-color: black;   
    box-shadow: rgba(80, 63, 205, 0.5) 0 0 6em ;
    min-width: 50em;
    height: 28em;
}

@keyframes qc-animation {
    0% {background-position: left}
    100% {background-position: right}
}

.queueCard:hover {
    box-shadow: 0 0 1em rgba(80, 63, 205, 0.5);
    transition: 0.5s;
}

.end {
    display: flex;
    justify-content: end;
    margin-right: 1em;
}

h1{
    font-size: 75pt;
}

h2 {
    font-size: 15pt;
}

/* #845ec2,
#d65db1, */